<ion-content>
  <ion-searchbar></ion-searchbar>
  <br>
  <ion-slides #slides style="height: 100%" pager="true">
    <ion-slide *ngFor="let data of formData">
      <ion-card class="statusCard" color="primary">
        <ion-card-header>
          <ion-card-title>{{data.status}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
