<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" style="zoom: 1.7" (click)="onBack()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <circle-progress [percent]="slideAverage" [radius]="40" [maxPercent]="100" [startFromZero]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="0"
          [outerStrokeColor]="'#78C000'" [animation]="true" [animationDuration]="300" >
        </circle-progress>
      </ion-col>
      <ion-col size="8">
        <h1 id="mainPageText">Header</h1>
        <h5 id="nextPageText">Next: Line Items</h5>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides style="height: 100%" pager="false">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngFor="let field of formData.fields">
              <ion-label position="floating"></ion-label>
              <ion-input ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 4</h1>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar background="light">
    <ion-row>
      <ion-col>
        <ion-button [disabled]="isBeginning" color="primary" style="width: 100%" (click)="onPrevious()">Prev</ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button [disabled]="isEnd" color="primary" style="width: 100%" (click)="onNext()">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>