ion-content {
    --background: #f5f5f5;
}

.customCard {
    padding-bottom: 20px;
}

.customCardRow {
    height: 17vh !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    background: white;
}

.customCardIcon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.customCardDetail {
    h2 {
        margin-left: 10px;
    }
    p {
        margin-left: 10px;
    }
}