<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="customCard" *ngFor="let request of requests; index as i" [routerLink]="['./',request.formId]">
          <ion-row class="customCardRow">
            <ion-col class="customCardIcon" [style.background]="global.getCardBackgrounds(i)" size="3">
              <ion-icon color="light" style="zoom: 2.4" [name]="global.getIconName(i)"></ion-icon>
            </ion-col>
            <ion-col class="customCardDetail" size="9">
              <h2 [style.color]="global.getCardBackgrounds(i)">{{request.name}}</h2>
              <p>{{request.description}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>