<ion-content>
  <div class="centered">
    <h1 class="pageHeader">SPAY</h1>
    <img class="bgIcon" src="./../../assets/icon/logoDiamond.png" alt="">
    <p style="color: white">Powered by SmartDocs Inc.</p>
  </div>
  <form #loginForm="ngForm" novalidate>

    <ion-list lines="none" class="ion-padding">
      <ion-item lines="none" mode="md">
        <ion-label position="floating" [color]="(username.touched && !username.valid) ? 'danger' : 'primary'">Username*
        </ion-label>
        <ion-input [(ngModel)]="user.username" name="username" type="email" #username="ngModel" spellcheck="false"
          autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <div style="text-align: center">
        <ion-chip color="light" *ngIf="username.touched && !username.valid">
          <ion-label>
            Username cannot be empty.
          </ion-label>
        </ion-chip>
      </div>

      <ion-item lines="none" mode="md">
        <ion-label position="floating" [color]="(password.touched && !password.valid) ? 'danger' : 'primary'">Password*
        </ion-label>
        <ion-input [(ngModel)]="user.password" name="password" [type]="passwordType" #password="ngModel" required>
        </ion-input>
        <ion-icon color="primary" style="margin-top: 15px;" [name]="passwordIcon" slot="end"
          (click)='hideShowPassword()'></ion-icon>
      </ion-item>

      <div style="text-align: center">
        <ion-chip color="light" *ngIf="password.touched && !password.valid">
          <ion-label>
            Password cannot be empty.
          </ion-label>
        </ion-chip>
      </div>

      <ion-row>
        <ion-col [size]="isFingerPrintAvailable ? '9' : '12'" class="ion-no-padding">
          <ion-button [disabled]="loginForm.invalid" mode="md" size="meduim" (click)="onLogin(loginForm)" type="submit"
            expand="block">Login</ion-button>
        </ion-col>
        <ion-col *ngIf="isFingerPrintAvailable" size="3" class="ion-no-padding">
          <ion-button class="fpBtn">
            <ion-icon style="zoom: 2.0" name="finger-print"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-list>


  </form>
</ion-content>