ion-content {
    --background: linear-gradient(to bottom, #2A2A72,  #009FFD 74%) !important;
}

ion-button {
    --background: #123460;
    --color: white;
    height: 60px;
    padding-top: 10px !important;
}

ion-list{
    --ion-background-color:transparent;
    margin-top: 15%;
}

ion-item{
     --ion-background-color:#f4f5f8;
    border-radius: 5px !important;
    margin-top: 10px;
}

ion-chip {
    --background: white;
}

.pageHeader {
    color: white;
    font-weight: bold;
}

.centered {
    text-align: center;
    margin-top: 10%;
}

.bgIcon {
    height: 200px;
    width: 200px;
    filter: drop-shadow(0 0 10px #ffffff);
}

.list {
    margin-bottom: 0;
}

.fpBtn {
    --border-radius: 5px;
    width: 100%;
}
