<ion-tabs>
  <ion-tab-bar color="light" id="tabs" slot="bottom">
    <ion-tab-button mode="md" tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="invoices">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Invoices</ion-label>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="requests">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="inbox">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>
    <ion-tab-button mode="md" tab="more">
      <ion-icon mode="ios" name="more"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>